.footer{
  color: #d9d9d9;
  margin-top: 100px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
}
.footer-content{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  gap: 80px;
}
.footer-content-left, .footer-content-center, .footer-content-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.unordered-list li{
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;
  
}
.footer-content-center h2 .footer-content-right h2{
  color: white;
}
.footer-social-items img{
 width: 40px;
 margin-right: 15px;


}
.footer hr{
  width: 100%;
  height: 2px;
  background-color: gray;
  margin: 20px 0;
  border: none;
}

.footer-content-left .footer-logo{
height: 150px;
margin-left: 170px;
}
@media (max-width:750px){
  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 35px;

  }
  .footer-copyright{
    text-align: center;
  }
}
