.update {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}
.update form {
  gap: 20px;
}
.update-img-upload img {
  width: 120px;
}
.update-product-name,
.update-product-description {
  width: max(40%, 280px);
}
.update-product-name input,
.update-product-description textarea {
  padding: 10px;
}
/* .update-product-description{

} */
.update-category-price {
  display: flex;
  gap: 30px;
}
.update-category-price select,
.update-category-price input {
  max-width: 120px;
  padding: 10px;
}
.update-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: #EB5B00;
  color: white;
  cursor: pointer;
}
/* .update-category{

}
.update-price{

} */
