.login-popup{
  position:absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #cdc2c290;
  display: grid;

}
.login-popup-container{
  place-self: center;
  border-radius: 8px;
  font-size: 14px;
  /* fadeIn defining in main css file */
  animation: fadeIn 0.5s ;
  width: max(23vw,330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px ;
  padding: 25px 30px;
}
.login-popup-title{
  color: black;
  text-align: center;

}

.login-popup-inputs{
  display: flex;
  flex-direction: column;
  gap: 20px ;

}
.login-popup-inputs input{
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;

}
.login-popup-container button{
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
