.list-add{
 margin-top: 50px;
}
.list-add p {
  display: flex;
  justify-content: center;
 }
.list-add {
  display: flex;
  /* justify-content:; */
  align-items: center;
  /* flex-direction: row; */
}
.listTitle {
  font-size: 40px;
}
.list-table-format {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr 4fr 2.3fr;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border: 1px solid #cacaca;
  font-size: 16px;
  margin: 4px;
}
.list-table-format.title {
  background-color:#f4efef;
  text-align: center;
}
.list-table-format img {
  width: 90px;
}
@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format.title {
    display: none;
  }
}

.list-table-format .update-btn{
 padding: 10px 8px;
 background-color: #89AC46;
 border-radius: 10px;
 border: none;

}